<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios y Paquetes</title>
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="bg-#F5F5F3">

    <nav id="navbar" class="fixed top-0 right-0 left-0 bg-#EBA7A8/90 h-16">

    </nav>
    


    <div class="pt-16">
        <div id="agregar-container">

        </div>
    <!-- Sección de Servicios -->
    <section id="servicios-section" class="bg-white p-8">
        <div class="container mx-auto px-4">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Nuestros Servicios</h2>

                <!-- Servicios -->


        </div>
    </section>

    <!-- Sección de Paquetes -->
    <section id="paquetes-section" class="bg-gray-200 py-8">
        <div class="container mx-auto px-4">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Nuestros Paquetes</h2>


        </div>
    </section>



</div>
    <div id="contact-wsp" class="fixed bottom-4 right-4 flex flex-col items-center space-y-2">

    </div>

    <script src="/components/add.js"></script>
    <script src="/components/contactWsp.js"></script>
    <script src="/components/nav.js"></script>
    <script  type="module" src="index.js"></script>
</body>
</html>
